/* common : begin */
*{
    box-sizing: border-box;
}

html {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #1F1D2A;
}

body {
    width: 100%;
    background-color: #E6E6E4;
    padding: 40px 8vw;
}

ul, ol {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #1F1D2A;
}

/* common: end */
/* main: begin */

/* header: begin */
header {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 40px auto 100px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

.logo {
    font-size: 32px;
    line-height: 48px;
}
 
header nav ul {
    display: flex;
    align-items: center;
}

header li a {
    padding: 10px 20px;
    margin: 5px;
}
header li {
    transition: border-color earse 0.5s;
    &:hover {
        text-decoration: underline; 
        text-decoration-color: #1F1D2A; 
        text-decoration-thickness: 2px; 
        text-underline-position: under;
    }
    
}
header .btn {
    border-radius: 6px;
    border: 1px solid #1F1D2A;
    width: 110px;
    height: 45px;
    padding: 10px 25px 10px 25px;
    transition: ease-in-out 0.5s;
    &:hover {
        background-color: #c5c4c1;
    }
}
/* header: end */

/* main: begin */
/* banner: begin */
.banner {
    display: flex;
    margin-bottom: 100px;
}

h1 {
    font-weight: 600;
    font-size: 55px;
    line-height: 82.5px;
}

.left-content {
    width: 50%;
    margin-right: 80px;

}
.left-content p {
    line-height: 30px;
    color: #9B948E;
    margin-bottom: 50px;
}

.right-content {
    width: 50%;
    img {
        aspect-ratio: 1/1;
        max-width: 500px;
        width: 33vw;
        border-radius: 50%;
    }
}

.left-content a {
    border-radius: 6px;
    background-color: #96C67F;
    width: 170px;
    height: 70px;
    line-height: 30px;
    font-size: 20px;
    font-weight: 500;
    align-items: center;
    display: flex;
    justify-content: center;
    transition: transform 0.3s ease;
    &:hover {
        transform: scale(1.2);
    }
}
/* banner: end */

/* trusted-company: begin */

.trusted-company{
    margin: 0px auto 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 30px;
}
.trusted-company p {
    line-height: 24px;
    align-items: center;
}
.trusted-company ul {
    display: flex;
    align-items: center; 
    column-gap: 60px;
    justify-content: space-between;
}
.trusted-company li {
    img {
        height: 30px;
    }
}
/* call-to-action: begin */
.call-to-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
.call-to-action p {
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
}
.call-to-action .action {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
}

/* call-to-action: end */

/* list-teacher: begin */

.list-teacher {
    display: flex;
    justify-content: space-between;
}

.teacher {
    border-radius: 12px;
    background-color: #ffffff;
    width: 295px;
    height: 450px;
    a{
        display: flex;
        flex-direction: column;
    }
    transition: transform 0.3s ease;
    &:hover {
        transform: scale(1.08);
    }
}

.teacher img {
    width: 295px;
    height: 350px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    aspect-ratio: 59/70;
}

.teacher .name {
    margin: 20px 0px 6px 20px;
    font-size: 20px;
    line-height: 30px;
}

.teaching-field {
    font-size: 16px;
    line-height: 24px;
    color: #9B948E;
    margin: 0px 0px 20px 20px;
}
/* list-teacher: end */

/* main: end */